<!DOCTYPE html>

{% load staticfiles %}



<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/contact_form.css" %}"/>
      <title>問い合わせ</title>
    </head>



    <body>
      <header>
      <div class="header">
        <div class="header-left">
          <a href="{% url 'foodrescue:index' %}">
            <img class="header-logo" src="{% static "images/food-helper-logo.png" %}" ref="{% url 'foodrescue:index' %}" top="0" height="50" width="160" alt="header-logo">
          </a>
        </div>

        <div class="header-right">
            {%if user.id %}
            <p>ログインしました</p>
            <p>こんにちは,{{user.username}}さん</p>
            <a href="{% url 'logout' %}" class="my-parts" style="text-decoration:none;">ログアウトする</a>
            {% else %}
            <a href="{% url 'accounts:signup' %}" class="btn signup" style="text-decoration:none;">新規会員登録</a>
            <a href="{% url 'login' %}" class="my-parts" style="text-decoration:none;">ログイン</a>
            {% endif %}
        </div>
      </header>


          {% block content %}
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h1>お問い合わせ</h1>
                <p>お問い合わせフォームです。</p>
                <form method="POST">{% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">送信</button>
                </form>
              </div>
            </div>
          </div>
          {% endblock %}







          <footer>
          <div class="footer">
            <div class="footer-logo">
              <a href="{% url 'foodrescue:index' %}">
              <img class="footer-logo" src="{% static "images/food-helper-logo2.png" %}" ref="{% url 'foodrescue:index' %}" height="50" width="160" alt="footer-logo">
              </a>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="{% url 'foodrescue:guide' %}" style="text-decoration:none;">利用ガイド</a></li>
                <li><a href="{% url 'foodrescue:operation' %}" style="text-decoration:none;">運営</a></li>
                <li><a href="{% url 'foodrescue:service' %}" style="text-decoration:none;">利用規約</a></li>
                <li><a href="{% url 'foodrescue:privacy' %}" style="text-decoration:none;">プライバシーポリシー</a></li>
              	<li><a href="{% url 'foodrescue:contact_form' %}" style="text-decoration:none;">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
          </footer>

          <div class="copyright">
            <p><small>© 2019 Food helper</small></p>
          </div>
        </body>
    </html>
