<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/style.css" %}"/>
      <title>プロフィール編集</title>
    </head>

    <body>
        <h4>プロフィールの編集をします</h4>

        <p><a href="{% url 'foodrescue:operation' %}">運営</a></p>
        <p><a href="{% url 'foodrescue:service' %}">利用規約</a></p>
		<p><a href="{% url 'foodrescue:privacy' %}">プライバシーポリシー</a></p>
		<p><a href="{% url 'foodrescue:contact' %}">お問い合わせ</a></p>
		<p><a href="{% url 'foodrescue:guide' %}">利用ガイド</a></p>

    </body>

</html>
