<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/style.css" %}"/>
      <title>プロフィール編集</title>
    </head>

    <body>
        <h1>利用ガイドを知りたいか？</h1>
   		<p><a href="{% url 'foodrescue:index' %}">トップページへ戻る</a></p>
        <p><a href="{% url 'foodrescue:create' %}">新規登録</a></p>
        <p><a href="{% url 'foodrescue:loginscreen' %}">ログイン</a></p>

        <p><a href="{% url 'foodrescue:editprofile' %}">プロフィール編集</a></p>

        <p><a href="{% url 'foodrescue:operation' %}">運営</a></p>
        <p><a href="{% url 'foodrescue:service' %}">利用規約</a></p>
		<p><a href="{% url 'foodrescue:privacy' %}">プライバシーポリシー</a></p>
		<p><a href="{% url 'foodrescue:contact_form' %}">お問い合わせ</a></p>
		<img src="{% static "images/qqqq2.jpg" %}" alt="">

        <h2>教えてやろうこの世のすべてをここに置いてきた</h2>



    </body>

</html>
