<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/privacy.css" %}"/>
      <title>運営</title>
    </head>


    <body id="a001">
      <header>
      <div class="header">
        <div class="header-left">
          <a href="{% url 'foodrescue:index' %}">
            <img class="header-logo" src="{% static "images/food-helper-logo.png" %}" ref="{% url 'foodrescue:index' %}" top="0" height="50" width="160" alt="header-logo">
          </a>
        </div>

        <div class="header-right">
            {%if user.id %}
            <a href="{% url 'accounts:user_form' %}" class="btn after-login" style="text-decoration:none;">プロフィール変更</a>

            <a class="my-login">{{user.username}}さん</a>
            <a href="{% url 'accounts:logout' %}" class="my-parts" style="text-decoration:none;">ログアウトする</a>
            {% else %}
            <a href="{% url 'accounts:signup' %}" class="btn signup" style="text-decoration:none;">新規会員登録</a>
            <a href="{% url 'accounts:login' %}" class="my-parts" style="text-decoration:none;">ログイン</a>
            {% endif %}
        </div>
      </div>
    </header>


        <div class="contents">
              <h1>フードヘルパー運営について</h1>
              <h2>自己紹介</h2>
              <p>　初めましてFood Helperを立ち上げましたkunihiroです。</p>
              <p>　以前より、プログラミングと自分が培ってきた食品業界の知識を活かしてのサービスを始めたいと考えておりました。
                今回開発した「Food Helper」はPython言語で、Djangoというフレームワークでの開発になります。初めてのアプリ開発ということもあり、環境構築からエラーの連続で
                「もっと簡単なアプリにしておけば良かった・・・。」と回顧することも多々ありましたが、なんとか一定の形になるまでのアプリになったのでこうして公開する事ができました。
                </p>

              <h2>始まりは食品開発担当者として</h2>
                <p>　私の出身は山口県で都内の大学への進学を機に上京。10ヶ月のシドニー留学を経て卒業後は大手酒類・食品卸売業の会社に就職しました。
                  就職後まもなくして食品プライベートブランドの商品開発担当者になりました。</p>

                <p>　商品開発担当者として食品のコンセプト設計、原料調達、在庫管理、ブランディング、営業まで行なっていました。
                  「商品を作るのではなく、商品の物語を作る」、というモノが潤沢にあふれた日本において商品開発で大事にしていたチームの一つのテーマでした。
                  また当然それを実現するには、独自資源や会社・個人としての強みが必要であり、飽くなき技術、知識の追及、協力企業様との取組や、
                  ブランドマネージャーとして自己研磨を怠りませんでした。
                </p>

                <h2>商品管理で起こる過剰在庫問題</h2>
                <p>　しかしながら市場原理や流行によって、全く市場に受け入れられなくなってしまう商品も出現してしまい、以下のように過剰在庫問題が発生しました。</p>
                <ol class="list_parentheses">
                <li>納品先企業様からの発注時に欠品を起こさないようにする為、在庫を過剰に持ってしまう</li>
                <li>製造依頼先の契約で取り決めた最低限の製造数を作らなければならない為、過剰在庫に繋がってしまう</li>
              </ol>



                <h2>過剰在庫により引き起こされること</h2>
                <p>在庫回転が良い商品は、在庫リスクの問題ないかもしれません。しかしながら、売り上げが芳しくなく作ったはいいものの、
                売れないものはどうなるのでしょうか？結果として以下のようになります。</p>
                <ol class="list_parentheses">
                <li>取引先に格安で販売される</li>
                <li>取引先に足元を見られて買い叩かれる</li>
                <li>フードバンクに送られる</li>
                <li>賞味期限が切れて倉庫に放置される</li>
              </ol>

              <h2>プログラミングとの出会い</h2>
              <p>2015年創業の株式会社コークッキング運営の「タベテ(tabete)」と言った食品ロスアプリの出現や業務用食材専用のECサイト運営のMマートが2018年に上場し、
                食品業界にも着々とフードロスとITの流れが来ていました。</p>
              <p>受発注の自動化システムや従業員の労働もデータで管理されるようになり、創業300年を超えた当時の所属会社にもIT化の流れが急速に普及し始め様変わりをしました。
                元々パソコンの勉強は好きで、社内のタイピングコンテストでの優勝やoffice関連の資格を複数取得しExcelのマクロを組んで業務改善を推し進めていましたが、
                専門知識を身につけて、且つそれを今までの自分の人生で培った知識や学びに取り入れられれば物凄く世界が変わりそうな気がしてなりませんでした。
                そして久しぶりに会いに行ったエンジニアの友人の作ったアプリやコミュニケーションツールを見て、自分も学びたい意欲が湧いてきました。
              </p>

              <h2>フードロス問題とITを結びつける</h2>
              <p>少しでもフードロスを無くすには・・・。BtoBに頼らないで、身の回りのできることから始めよう！と考えました。
                最初にスーパーに目をつけました。よく夕方に差し掛かった頃にスーパーに行くと、割引の値札がつけられていると思います。
                そのような些細なことから取り組んで行きたいと思いこのサービスを開発することに決めました！
              </p>

              <h2>初めてプログラミングに触れて、初めてPythonに触れて</h2>
              <p>以前私が行なっていた食品プライベートブランドの開発と手段は異なりますが、「もの作り」という軸では同じかと思います。
                アプリを制作するにあたって、「データ設計」と「画面設計」をしてから、コードの書き始めの「ワクワクする感じ」は「もの作り」の着手開始と全く同じでした。
                ただし「プログラミングはコードが書いた通りに動いてくれる」という反面、微々たる書き間違えですらバグとしてエラーが出現してしまうのでバグとりが大変でした。

                しかしながら、一歩ずつでもエラーを解決してコードがしっかりと走った瞬間は、何かが達成されたような瞬間的な満足のいく結果になりました。
                そして、自分の中で知識や引き出しが物凄いペースで増えて行くのが楽しくてたまりませんでした。
              </p>

              <h2>現在はテスト運用での公開</h2>
              <p>テスト運用では、個人の情報入力は必要ありませんが、主に実装した機能は下記事項になっております。</p>
              <ol class="list_parentheses">
              <li>ログイン・ログアウト機能</li>
              <li>SNSによるログイン認証機能</li>
              <li>Google API</li>
              <li>GCP</li>
              <li>Google Maps Platforms</li>
              <li>問い合わせ機能</li>
              <li>MySQLによるアカウント管理</li>
              <li>サーバーのデプロイ </li>
            </ol>
            <br>
              <p>今後実装を考えている機能は下記事項になっております。</p>
              <br>
              <ol class="list_parentheses">
                <li>機械学習で、どのようなカテゴリーの商品が売れ残ったり値引き対象になりやすいのか判別</li>
                <li>正しい食品の画像が投稿されているか画像処理機能</li>
                <li>バリデーションをかけて、画像のサイズ判定、画質判定等を行う</li>

            </ol>

              <h2>食品×ITでフードロスを無くす</h2>
              <p>少しでも環境に優しくて、問題をITで解決したい。Pythonを学んでから、世界が本当に無限に広がりそうでもっといろんな事を学びたいと考えております。
                その中で皆さんにもこのサービスを利用して、みんなが幸せになってくれれば最高に嬉しいです。
              </p>
              <br>
               以上

          </div>









          <div class="footer">
            <div class="footer-logo">
              <a href="{% url 'foodrescue:index' %}">
              <img class="footer-logo" src="{% static "images/food-helper-logo2.png" %}" ref="{% url 'foodrescue:index' %}" height="50" width="160" alt="footer-logo">
              </a>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="{% url 'foodrescue:guide' %}" style="text-decoration:none;">利用ガイド</a></li>
                <li><a href="{% url 'foodrescue:operation' %}" style="text-decoration:none;">運営</a></li>
                <li><a href="{% url 'foodrescue:service' %}" style="text-decoration:none;">利用規約</a></li>
                <li><a href="{% url 'foodrescue:privacy' %}" style="text-decoration:none;">プライバシーポリシー</a></li>
              	<li><a href="{% url 'foodrescue:contact_form' %}" style="text-decoration:none;">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
          </footer>

          <div class="copyright">
            <p><small>© 2019 Food helper</small></p>
          </div>
        </body>
    </html>
