<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/privacy.css" %}"/>
      <title>運営</title>
    </head>


        <body>
          <header>
          <div class="header">
            <div class="header-left">
              <a href="{% url 'foodrescue:index' %}">
                <img class="header-logo" src="{% static "images/food-helper-logo.png" %}" ref="{% url 'foodrescue:index' %}" top="0" height="50" width="160" alt="header-logo">
              </a>
            </div>

            <div class="header-right">
                {%if user.id %}
                <p>ログインしました</p>
                <p>こんにちは,{{user.username}}さん</p>
                <a href="{% url 'logout' %}" class="my-parts" style="text-decoration:none;">ログアウトする</a>
                {% else %}
                <a href="{% url 'accounts:signup' %}" class="btn signup" style="text-decoration:none;">新規会員登録</a>
                <a href="{% url 'login' %}" class="my-parts" style="text-decoration:none;">ログイン</a>
                {% endif %}
            </div>
          </header>


        <div class="contents">
              <h1>フードヘルパー運営について</h1>
              <h2>自己紹介</h2>
              <p>初めましてFood Helperを立ち上げました國弘です。</p>
              <p>以前より、プログラミングと自分が培ってきた食品業界の知識を活かしてのサービスを始めたいと考えておりました。
                今回開発した「Food Helper」はPython言語で、Djangoというフレームワークでの開発になります。初めてのサービス開発ということもあり、エラーの連続でした。
                後述もしますが、私自身が「何かを造る」という事が大好きな性格なので、心が折れずにギリギリ見せられるまでの開発はできた・・・はずです。
              <p>少し私の紹介をさせて下さい。出身は山口県周南市で都内の大学への進学を機に上京。10ヶ月のシドニー留学を経て卒業後は大手の酒類・食品卸売業の会社に就職しました。
                就職後まもなくして、食品プライベートブランドの商品開発担当者になりました。</p>

              <h2>食品開発担当者として</h2>
                <p>食品のコンセプト設計、原料調達、在庫管理、ブランディング、営業まで行なっていました。
                  「商品を作るのではなく、商品の物語を作る」、という昨今のモノが潤沢にありふれた日本において商品開発で大事にしていた一つのテーマでした。
                  また当然それを実現するには、独自資源や会社・個人としての強みが必要であり、飽くなき追及やブランドマネージャーとして自己研磨を怠りませんでした。
                </p>

                <h2>商品管理で起こる過剰在庫問題</h2>
                <p>しかしながら、市場原理や流行によって、全く市場に受け入れられなくなってしまう商品も出現してしまいました。</p>
                具体的には、そのような商品が増えると何が起こるのか。</p>
                <ol class="list_parentheses">
                <li>注文時に欠品を起こさないようにする為、在庫を過剰に持ってしまう</li>
                <li>機会ロスを無くす為、過剰に在庫を持つ</li
                <li>製造依頼先の契約で取り決めた最低限の製造数を作らなければならず、結果過剰に在庫に繋がってしまう</li>
              </ol>
                <p></p>

                <h2>過剰在庫により引き起こされること</h2>
                <p>売り上げが良い商品は正直問題ないかもしれません。しかしながら、売り上げが芳しくなく作ったはいいものの、
                売れないものはどうなるのでしょうか？</p>
                <ol class="list_parentheses">
                <li>取引先に格安で販売する</li>
                <li>取引先に足元を見られて買い叩かれる</li>
                <li>フードバンクに送られる</li>
                <li>賞味期限が切れて倉庫に放置される</li>
              </ol>

              <h2>プログラミングとの出会い</h2>
              <p>受発注の自動化システムやプレゼン自動化ロボット等が、創業300年の当時の所属会社にも急速に実装され始めました。
                元々、パソコンの勉強は好きで、社内のタイピングコンテストで優勝したり、officeの資格を複数取得したり、Excelのマクロを組んで業務改善を推し進めていましたが、専門知識を身につけて、
                且つそれを今までの自分の人生で培った知識や学びに取り入れられれば物凄く世界が変わりそうな気がしてなりませんでした。
                そして久しぶりに会いに行ったIT関係の友人数人の作ったアプリやコミュニケーションツールを見て、自分も学びたい意欲が湧いてきました。
              </p>

              <h2>そこからどうするのか？</h2>
              <p>少しでもフードロスを無くすには・・・。CtoCに頼らないで、身の回りのできることから始めよう！と考えました。
                最初にスーパーに目をつけました。よく夕方に差し掛かった頃にスーパーに行くと、割引の値札がつけられていると思います。
                そのような些細なことから取り組んで行きたいと思いこのサービスをはじめました！
              </p>

              <h2>初めてプログラミングに触れて、初めてPythonに触れて</h2>
              <p>以前私が行なっていた食品プライベートブランドの開発と手段は異なりますが、「もの作り」という点では同じかと思います。
                アプリを制作するにあたって、「データ設計」と「画面設計」をしてから、コードの書き始めの「ワクワクする感じ」というのは全く同じでした。
                ただし「プログラミングはコードが書いた通りに動いてくれる」という反面、微々たる書き間違えですらバグとしてエラーが出現してしまい、
                且つ自分由来なのでトライ＆エラーの頻度で言えば間違いなく突出して多いです。
                しかしながら、一歩ずつでもエラーを解決して、コードがしっかりと走った瞬間は今までもみた光景はまるで違います。
                そして、自分の中で知識や引き出しが物凄いペースで増えて行くのが楽しくてたまりませんでした。
              </p>

              <h2>現在はテスト運用での公開</h2>
              <p>テスト運用では、個人の情報入力は必要ありませんが、実装したい機能は確認できるようになっております。</p>
              <ol class="list_parentheses">
              <li>ログイン・ログアウト機能</li>
              <li>Facebook、Twitterによるログイン認証機能</li>
              <li>問い合わせ機能</li>
            </ol>

              <h2>食品×ITでフードレスキュー</h2>
              <p>少しでも環境に優しくて、問題をITで解決したい。Pythonを学んでから、世界が本当に無限に広がりそうでもっといろんな事を学びたいと考えております。
                その中で皆さんにもこのサービスを利用して、みんなが幸せになってくれれば最高に嬉しいです。
              </p>

          </div>









          <div class="footer">
            <div class="footer-logo">
              <a href="{% url 'foodrescue:index' %}">
              <img class="footer-logo" src="{% static "images/food-helper-logo2.png" %}" ref="{% url 'foodrescue:index' %}" height="50" width="160" alt="footer-logo">
              </a>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="{% url 'foodrescue:guide' %}" style="text-decoration:none;">利用ガイド</a></li>
                <li><a href="{% url 'foodrescue:operation' %}" style="text-decoration:none;">運営</a></li>
                <li><a href="{% url 'foodrescue:service' %}" style="text-decoration:none;">利用規約</a></li>
                <li><a href="{% url 'foodrescue:privacy' %}" style="text-decoration:none;">プライバシーポリシー</a></li>
              	<li><a href="{% url 'foodrescue:contact_form' %}" style="text-decoration:none;">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
          </footer>

          <div class="copyright">
            <p><small>© 2019 Food helper</small></p>
          </div>
        </body>
    </html>
