<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/style.css" %}"/>
      <title>新規登録</title>
    </head>


    <body style="background: rgb(247, 247, 247);">
      <div id="root" ontouchstart>
        <div></div>
        <div class="sc - kgAjT psYVg">
          <div class="sc-cJSrbW cCLRFT">
            <header class= "sc - g PEVay iHOoAa">
              <nav class="sc-iRbamj biRyzF">
                <a class="sc-jlyJG Ttxtt" href="/">
                  <img src="/static/image/doraemon.jpg" alt="logo" class="sc-ifAKCX hAenYh">
                </a>
              </navi>
            </header>
          </div>
          <div class="sc-ksYbfQ kjeNcU"><div class="sc-iyvyFf bqWCDl"></div><div class="sc-hwwEjo cxRuii"><h1 class="sc-btzYZH etHZIf">新規登録</h1></div><div class="sc-kPVwWT farokk"><input placeholder="メールアドレス" class="sc-kTUwUJ gBrlkN" value=""></div><div class="sc-kfGgVZ DQLcH"><div class="sc-dqBHgY kmpGTI"><input type="password" placeholder="パスワード" class="sc-kTUwUJ sc-gzOgki bOXQDs" value=""><a class="fal fa-eye-slash sc-dfVpRl jSUToa sc-bZQynM jLYPNB" right="true" custom="

              @media (max-width: ,30,em) {
                ,
                font-size: 12px;
            ,;
              }
            ;
          " href="/"></a></div></div><div class="sc-kIPQKe krpcan"><span font-size="12" class="sc-hmzhuo jvjbDl">新規登録を行うと、<br><a target="_blank" rel="noopener noreferrer" font-size="12" color="#E85258" underline="true" class="sc-bZQynM bpQybp" href="/terms">利用規約</a>と<a target="_blank" rel="noopener noreferrer" font-size="12" color="#E85258" underline="true" class="sc-bZQynM bpQybp" href="/privacy">プライバシーポリシー</a>に同意したとみなします</span></div><div class="sc-eXEjpC Fuhzb"><div fill="1" tabindex="0" class="sc-dnqmqq cQIBCL">新規登録</div></div><div class="sc-ibxdXY igYNI"></div><div class="sc-RefOD iYSBJh"><div fill="1" tabindex="0" class="sc-dnqmqq sc-VigVT jWuGyJ"><span><i class="fab fa-facebook-square"></i>&nbsp;</span>Facebookで新規登録</div></div><div class="sc-iQKALj dJObtL"><div fill="1" tabindex="0" class="sc-dnqmqq sc-gZMcBi iuSCtn">ログインはこちら</div></div></div>

        <div class="sc-ks YbfQ kjeNcU">
          <div class="">

          </div>

        </div>

        </div>

      </div>




        <h1>新規登録画面です</h1>
   		<p><a href="{% url 'foodrescue:index' %}">トップページへ戻る</a></p>
        <p><a href="{% url 'foodrescue:registration' %}">新規登録</a></p>
        <p><a href="{% url 'foodrescue:loginscreen' %}">ログイン</a></p>
        <p><a href="{% url 'foodrescue:operation' %}">運営</a></p>
        <p><a href="{% url 'foodrescue:service' %}">利用規約</a></p>
		<p><a href="{% url 'foodrescue:privacy' %}">プライバシーポリシー</a></p>
		<p><a href="{% url 'foodrescue:contact_form' %}">お問い合わせ</a></p>

		<p><a href="{% url 'foodrescue:guide' %}">利用ガイド</a></p>


		<img src="{% static "images/eva_1.jpg" %}" alt="">

        <h2>新規登録画面でしたー！</h2>



    </body>

</html>
