<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/privacy.css" %}"/>
      <title>利用規約</title>
    </head>


        <body>
          <header>
          <div class="header">
            <div class="header-left">
              <a href="{% url 'foodrescue:index' %}">
                <img class="header-logo" src="{% static "images/food-helper-logo.png" %}" ref="{% url 'foodrescue:index' %}" top="0" height="50" width="160" alt="header-logo">
              </a>
            </div>

            <div class="header-right">
                {%if user.id %}
                <p>ログインしました</p>
                <p>こんにちは,{{user.username}}さん</p>
                <a href="{% url 'logout' %}" class="my-parts" style="text-decoration:none;">ログアウトする</a>
                {% else %}
                <a href="{% url 'accounts:signup' %}" class="btn signup" style="text-decoration:none;">新規会員登録</a>
                <a href="{% url 'login' %}" class="my-parts" style="text-decoration:none;">ログイン</a>
                {% endif %}
            </div>
          </header>



        <div class="contents">
              <h1>利用規約</h1>
              <p>この利用規約（以下，「本規約」といいます。）は，Shavilla（以下，「当社」といいます。）がこのウェブサイト上で提供する
                サービス（以下，「本サービス」といいます。）の利用条件を定めるものです。
                登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>
                <h2>第1条</h2>
                <p></p>
                <ol>
                  <li>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
                  <li>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</li>
                  <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
                </ol>

                <h2>第2条(新規登録)</h2>
                <p>この先は、侍エンジニアのあそこから修正しましょう</p>

          </div>









          <div class="footer">
            <div class="footer-logo">
              <a href="{% url 'foodrescue:index' %}">
              <img class="footer-logo" src="{% static "images/food-helper-logo2.png" %}" ref="{% url 'foodrescue:index' %}" height="50" width="160" alt="footer-logo">
              </a>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="{% url 'foodrescue:guide' %}" style="text-decoration:none;">利用ガイド</a></li>
                <li><a href="{% url 'foodrescue:operation' %}" style="text-decoration:none;">運営</a></li>
                <li><a href="{% url 'foodrescue:service' %}" style="text-decoration:none;">利用規約</a></li>
                <li><a href="{% url 'foodrescue:privacy' %}" style="text-decoration:none;">プライバシーポリシー</a></li>
              	<li><a href="{% url 'foodrescue:contact_form' %}" style="text-decoration:none;">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
          </footer>

          <div class="copyright">
            <p><small>© 2019 Food helper</small></p>
          </div>
        </body>
    </html>
