<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
      <!-- head内は基本的な情報の部分なのでbody以下の見た目の部分に反映されない -->
      <meta charset="utf-8">
		  <link rel="stylesheet" href="{% static "css/test.css" %}"/>
      <title>test</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>


 <div class="popup_wrap">
<input id="trigger" type="checkbox" checked>

    <div class="popup_overlay">
        <label for="trigger" class="popup_trigger"></label>
        <div class="popup_content">
            <label for="trigger" class="close_btn">×</label>
            <p>テストモードでの運営中になります！</p>
        </div>
    </div>
    </div>


    <div class="popup_wrap">
     <input id="tigger" type="checkbox" checked>
      <div class="popup_overlay">
       <label for="trigger" class="popup_trigger">
       <div class="popup_content">
         <label for="trigger" class="close-btn">x</label>
        <p>テストモードでの運営中になります！</p>
       </div>
     </div>
     </div>
